* text=auto !eol
Algorithm/IpAlgorithmRegOp.cpp -text
Algorithm/IpAlgorithmRegOp.hpp -text
Algorithm/LinearSolvers/IpLinearSolversRegOp.cpp -text
Algorithm/LinearSolvers/IpLinearSolversRegOp.hpp -text
Docs/documentation.pdf -text
Examples/hs071_c/Makefile.in -text
Examples/hs071_c/hs071_c.c -text
Examples/hs071_cpp/Makefile.in -text
Examples/hs071_cpp/hs071_main.cpp -text
Examples/hs071_cpp/hs071_nlp.cpp -text
Examples/hs071_cpp/hs071_nlp.hpp -text
Interfaces/IpInterfacesRegOp.cpp -text
Interfaces/IpInterfacesRegOp.hpp -text
Interfaces/IpSolveStatistics.cpp -text
Interfaces/IpSolveStatistics.hpp -text
/LICENSE -text
Windows/VisualStudio_dotNET/Ipopt/Ipopt.sln -text
Windows/VisualStudio_dotNET/Ipopt/Ipopt.vcproj -text
