* text=auto !eol
Algorithm/IpAlgorithmRegOp.cpp -text
Algorithm/IpAlgorithmRegOp.hpp -text
Algorithm/IpBacktrackingLSAcceptor.hpp -text
Algorithm/IpTimingStatistics.cpp -text
Algorithm/IpTimingStatistics.hpp -text
Algorithm/LinearSolvers/IpLinearSolversRegOp.cpp -text
Algorithm/LinearSolvers/IpLinearSolversRegOp.hpp -text
Docs/documentation.pdf -text
Docs/options.tex -text
Examples/ScalableProblems/README -text
Examples/hs071_c/Makefile.in -text
Examples/hs071_c/hs071_c.c -text
Examples/hs071_cpp/Makefile.in -text
Examples/hs071_cpp/hs071_main.cpp -text
Examples/hs071_cpp/hs071_nlp.cpp -text
Examples/hs071_cpp/hs071_nlp.hpp -text
Extern/lapack/get.lapack -text
Interfaces/IpInterfacesRegOp.cpp -text
Interfaces/IpInterfacesRegOp.hpp -text
Interfaces/IpSolveStatistics.cpp -text
Interfaces/IpSolveStatistics.hpp -text
/LICENSE -text
Test/mytoy.nl -text
Test/run_unitTests.in -text
Windows/VisualStudio_dotNET/CExample/CExample.vcproj -text
Windows/VisualStudio_dotNET/FortranExample/hs071_f.f -text
Windows/VisualStudio_dotNET/Ipopt/Ipopt.sln -text
Windows/VisualStudio_dotNET/Ipopt/Ipopt.vcproj -text
Windows/VisualStudio_dotNET/ScalableProblems/ScalableProblems.vcproj -text
