[submodule "BuildTools"]
	path = BuildTools
	url = git://github.com/coin-or-tools/BuildTools.git
	branch = stable/0.5
[submodule "ThirdParty/ASL"]
	path = ThirdParty/ASL
	url = git://github.com/coin-or-tools/ThirdParty-ASL.git
	branch = stable/1.0
[submodule "ThirdParty/HSL"]
	path = ThirdParty/HSL
	url = git://github.com/coin-or-tools/ThirdParty-HSL.git
	branch = stable/1.0
[submodule "ThirdParty/Blas"]
	path = ThirdParty/Blas
	url = git://github.com/coin-or-tools/ThirdParty-Blas.git
	branch = stable/1.0
[submodule "ThirdParty/Lapack"]
	path = ThirdParty/Lapack
	url = git://github.com/coin-or-tools/ThirdParty-Lapack.git
	branch = stable/1.0
[submodule "ThirdParty/Mumps"]
	path = ThirdParty/Mumps
	url = git://github.com/coin-or-tools/ThirdParty-Mumps.git
	branch = stable/1.0
